@use './media' as *;
@use './var' as *;

// VARIABLE SETUP
@import url(https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:ital,wght@0,200..900;1,200..900&display=swap);

// GLOBAL SETUP
* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  padding: 0px;
  text-decoration: none;
  text-align: center;
  font-family: $font--main;
  background-color: $background;
  color: $text-main;
  
  a {
	  text-decoration: none;
  }
}

#logo {
	max-width: 300px;
}

.icon {
	width: 30px;
}

.locations {
	font-weight: 800;
	font-style: italic;
}